.favorites {
  &__header {
    color: #010101;
    font-size: 32px;
    line-height: 1;
    margin: 0 0 30px;
    position: relative;

    .btn {
      position: absolute;
      display: block;
      top: 0;
      right: 0;

      @include smallDown {
        width: 100%;
        top: 100%;
        margin-top: 80px;
      }
    }
  }

  &__nav {
    @extend .profile__nav;

    @include smallDown {
      padding-bottom: 80px;
    }
  }

  &__ads {
    &--item {
      background-color: #ffffff;
      display: flex;
      align-items: stretch;
      margin-bottom: 15px;
      overflow: hidden;

      @include smallDown {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        box-shadow: 0 0 0 2px #1d7fe0;
        border-radius: 1px;
      }

      .item {
        &__image {
          position: relative;
          flex: none;
          width: 260px;

          img {
            display: none;
          }

          .checkbox {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #ffffff;

            input + label svg {
              margin: 0;
            }
          }
        }
        &__body {
          padding: 20px;
          flex: 1;
        }
        &__text {
          height: 88px;
          overflow: hidden;
        }
        &__controls {
          flex: none;
          width: 260px;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-between;
          padding: 20px 0;
        }

        &__title {
          color: #010101;
          font-size: 20px;
          line-height: 1;
          margin-bottom: 5px;
        }

        &__region {
          margin-bottom: 15px;
        }
        &__price {
          margin-bottom: 15px;
          flex: none;
          small,
          span {
            display: block;
            line-height: 1;
          }
          span {
            font-size: 24px;
            color: #010101;
          }
          small {
            font-size: 12px;
            text-transform: uppercase;
            padding-bottom: 5px;
          }
        }
        &__readmore a {
          color: #1d7fe0;
          background-color: transparent;
          font-size: 0;
          line-height: 20px;

          &:hover {
            color: #010101;
          }

          svg,
          span {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
          }

          svg {
            width: 16px;
            height: 16px;
            fill: currentColor;
            margin-left: 5px;
          }

          span {
            font-size: 12px;
            text-transform: uppercase;
            color: currentColor;
          }
        }
      }

      @include tabletDown {
        flex-direction: column;

        .item__image {
          padding-top: 56.25%;
          width: 100%;
        }

        .item__controls {
          padding: 20px;
          flex-direction: row;
          align-items: center;
          width: 100%;
        }

        .item__price {
          //flex: 1;
        }
      }
    }
  }

  &__companies {
    &--item {
      background-color: #ffffff;
      margin-bottom: 15px;
      overflow: hidden;
      display: flex;

      &:hover {
        box-shadow: 0 0 0 2px #1d7fe0;
        border-radius: 1px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .item {
        &__image {
          width: 180px;
          flex: none;
          display: flex;
          align-items: flex-start;
          padding: 20px 0 20px 20px;
          img {
            filter: brightness(90%);
            max-width: 100%;
          }

          .checkbox {
            margin-right: 20px;
            background-color: #ffffff;
          }
          .checkbox input + label svg {
            margin: 0;
          }
        }

        &__body {
          padding: 20px;
          flex: 1;
        }
        &__text {
          height: 88px;
          overflow: hidden;
        }

        &__controls {
          flex: none;
          width: 260px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 20px 0;

          &--top {
            flex: 1;
            padding-bottom: 10px;
          }

          &--bottom {
            flex: none;
          }
        }

        &__title {
          display: flex;
          font-size: 20px;
          line-height: 1;
          color: #010101;
          margin-bottom: 5px;

          span,
          small {
            display: block;
          }

          small {
            flex: none;
            white-space: nowrap;
            padding-left: 10px;

            img {
              display: inline-block;
              margin-left: 10px;
            }
          }
        }

        &__region {
          margin-bottom: 15px;
        }

        &__phone {
          margin-bottom: 15px;

          &--label {
            color: #010101;
          }

          span {
            display: inline-block;
            font-size: 20px;
            line-height: 1;
            vertical-align: middle;
            color: #1d7fe0;
          }

          a {
            display: inline-block;
            font-size: 12px;
            line-height: 1;
            vertical-align: middle;
            text-transform: uppercase;
            text-decoration: none;
            color: #666666;
            margin-left: 10px;
            padding-top: 5px;

            &:hover {
              color: #010101;
            }
          }
        }

        &__readmore a {
          color: #1d7fe0;
          background-color: transparent;
          font-size: 0;
          line-height: 20px;

          &:hover {
            color: #010101;
          }

          svg,
          span {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
          }

          svg {
            width: 16px;
            height: 16px;
            fill: currentColor;
            margin-left: 5px;
          }

          span {
            font-size: 12px;
            text-transform: uppercase;
            color: currentColor;
          }
        }
      }

      @include tabletDown {
        display: block;

        .item__image {
          position: relative;
          width: auto;
          float: left;
          padding-right: 20px;
          .checkbox {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
          }
          img {
            position: relative;
            z-index: 1;
          }
        }

        .item__text {
          clear: both;
        }

        .item__controls {
          padding: 0 20px 20px;
          display: block;
          width: 100%;

          &--top {
            display: flex;
            align-items: center;
          }

          &--bottom {
            text-align: right;
          }
        }

        .item__phone {
          flex: 1;
        }
      }

      @include smallDown {
        position: relative;
        margin-bottom: 20px;

        .item__image {
          float: none;
          width: 50%;
          display: block;
          padding-bottom: 0;

          .checkbox {
            position: static;
            margin-bottom: 20px;
          }
        }

        .item__lang {
          position: absolute;
          top: 24px;
          right: 20px;
          text-align: right;
        }

        .item__controls {
          &--top {
            display: block;

            .btn {
              display: block;
              width: 100%;
            }
          }
          &--bottom {
            text-align: left;
          }
        }
      }
    }
  }

  .pagination {
    padding: 30px 0;
    margin: 0;
  }
}
